<ion-header>
  <ion-toolbar>
    <ion-title>Inclusão de nova conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>


    <ion-item lines="full">
      <ion-label>Vencimento</ion-label>
      <ion-input type="date" [(ngModel)]="novaConta.vencimento" name="observacoes" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Data da Compra</ion-label>
      <ion-input type="date" [(ngModel)]="novaConta.dataDaCompra" name="observacoes" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Data do Pagamento</ion-label>
      <ion-input type="date"  [(ngModel)]="novaConta.dataDoPagamento" name="observacoes" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Observações</ion-label>
      <ion-input type="text" [(ngModel)]="novaConta.observacoes" name="observacoes" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Tipo de despesa ou receita">
        <ion-select-option *ngFor="let desp of tiposdespesasreceitas" [value]="desp">{{ desp.nome }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Forma de pagamento">
        <ion-select-option *ngFor="let forma of formasdepagamento" [value]="forma">{{ forma.nome }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>